/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #F8F5F1;
  color: #3C415C;
}

h1 {
  font-style: italic;
  font-family: verdana, arial, sans-serif;
}

button {
  padding: 10px;
  border-radius: 10px;
  margin: 0px 0px 20px;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}

.hidden {
  display: none;
}

#button1 {
  background: #206A5D;
}

#button1:active,
#button1.lit {
  background: #00917C;
}

#button2 {
  background: #1687A7;
}

#button2:active,
#button2.lit {
  background: #1AA6B7;
}

#button3 {
  background: #C70039;
}

#button3:active,
#button3.lit {
  background: red;
}

#button4 {
  background: #FED049;
}

#button4:active,
#button4.lit {
  background: yellow;
}
